<?xml version="1.0"?>
<SimulationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SettingsName>Heros of the Hill</SettingsName>
  <Guid>e5dfe988-ea32-4537-a5b9-f50b0188122f</Guid>
  <PlayGroundBaseSize>550000</PlayGroundBaseSize>
  <PlayGroundSizePlayerMultiplier>1</PlayGroundSizePlayerMultiplier>
  <AntHillRadius>32</AntHillRadius>
  <BattleRange>5</BattleRange>
  <AntSimultaneousCount>10</AntSimultaneousCount>
  <BugSimultaneousCount>5</BugSimultaneousCount>
  <SugarSimultaneousCount>1</SugarSimultaneousCount>
  <FruitSimultaneousCount>2</FruitSimultaneousCount>
  <BugCountPlayerMultiplier>1</BugCountPlayerMultiplier>
  <SugarCountPlayerMultiplier>1</SugarCountPlayerMultiplier>
  <FruitCountPlayerMultiplier>1</FruitCountPlayerMultiplier>
  <AntCountPlayerMultiplier>0</AntCountPlayerMultiplier>
  <AntTotalCount>10</AntTotalCount>
  <BugTotalCount>999999</BugTotalCount>
  <SugarTotalCount>999999</SugarTotalCount>
  <FruitTotalCount>999999</FruitTotalCount>
  <AntTotalCountPlayerMultiplier>0</AntTotalCountPlayerMultiplier>
  <BugTotalCountPlayerMultiplier>0</BugTotalCountPlayerMultiplier>
  <SugarTotalCountPlayerMultiplier>0</SugarTotalCountPlayerMultiplier>
  <FruitTotalCountPlayerMultiplier>0</FruitTotalCountPlayerMultiplier>
  <AntRespawnDelay>5</AntRespawnDelay>
  <BugRespawnDelay>75</BugRespawnDelay>
  <SugarRespawnDelay>150</SugarRespawnDelay>
  <FruitRespawnDelay>225</FruitRespawnDelay>
  <BugAttack>50</BugAttack>
  <BugRotationSpeed>3</BugRotationSpeed>
  <BugEnergy>1000</BugEnergy>
  <BugSpeed>3</BugSpeed>
  <BugRadius>4</BugRadius>
  <BugRegenerationValue>1</BugRegenerationValue>
  <BugRegenerationDelay>5</BugRegenerationDelay>
  <SugarAmountMinimum>1000</SugarAmountMinimum>
  <SugarAmountMaximum>1000</SugarAmountMaximum>
  <FruitAmountMinimum>250</FruitAmountMinimum>
  <FruitAmountMaximum>250</FruitAmountMaximum>
  <FruitLoadMultiplier>5</FruitLoadMultiplier>
  <FruitRadiusMultiplier>1</FruitRadiusMultiplier>
  <MarkerSizeMinimum>20</MarkerSizeMinimum>
  <MarkerDistance>13</MarkerDistance>
  <MarkerMaximumAge>150</MarkerMaximumAge>
  <PointsForFoodMultiplier>1</PointsForFoodMultiplier>
  <PointsForFruits>1</PointsForFruits>
  <PointsForBug>150</PointsForBug>
  <PointsForForeignAnt>5</PointsForForeignAnt>
  <PointsForEatenAnts>0</PointsForEatenAnts>
  <PointsForBeatenAnts>-5</PointsForBeatenAnts>
  <PointsForStarvedAnts>0</PointsForStarvedAnts>
  <CasteSettings>
    <Offset>-1</Offset>
    <Sum>0</Sum>
    <Columns>
      <SimulationCasteSettingsColumn>
        <Attack>0</Attack>
        <RotationSpeed>24</RotationSpeed>
        <Energy>200</Energy>
        <Speed>12</Speed>
        <Load>16</Load>
        <Range>7200</Range>
        <ViewRange>180</ViewRange>
      </SimulationCasteSettingsColumn>
      <SimulationCasteSettingsColumn>
        <Attack>40</Attack>
        <RotationSpeed>32</RotationSpeed>
        <Energy>400</Energy>
        <Speed>16</Speed>
        <Load>20</Load>
        <Range>9000</Range>
        <ViewRange>240</ViewRange>
      </SimulationCasteSettingsColumn>
      <SimulationCasteSettingsColumn>
        <Attack>80</Attack>
        <RotationSpeed>48</RotationSpeed>
        <Energy>700</Energy>
        <Speed>20</Speed>
        <Load>28</Load>
        <Range>13600</Range>
        <ViewRange>300</ViewRange>
      </SimulationCasteSettingsColumn>
      <SimulationCasteSettingsColumn>
        <Attack>120</Attack>
        <RotationSpeed>64</RotationSpeed>
        <Energy>1000</Energy>
        <Speed>24</Speed>
        <Load>40</Load>
        <Range>18000</Range>
        <ViewRange>320</ViewRange>
      </SimulationCasteSettingsColumn>
    </Columns>
  </CasteSettings>
</SimulationSettings>