<?xml version="1.0"?>
<SimulationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SettingsName>Survival of the fittest</SettingsName>
  <Guid>88024c03-84f3-4fc8-8269-02a72ba155fc</Guid>
  <PlayGroundBaseSize>550000</PlayGroundBaseSize>
  <PlayGroundSizePlayerMultiplier>1</PlayGroundSizePlayerMultiplier>
  <AntHillRadius>32</AntHillRadius>
  <BattleRange>5</BattleRange>
  <AntSimultaneousCount>100</AntSimultaneousCount>
  <BugSimultaneousCount>5</BugSimultaneousCount>
  <SugarSimultaneousCount>1</SugarSimultaneousCount>
  <FruitSimultaneousCount>2</FruitSimultaneousCount>
  <BugCountPlayerMultiplier>1</BugCountPlayerMultiplier>
  <SugarCountPlayerMultiplier>1</SugarCountPlayerMultiplier>
  <FruitCountPlayerMultiplier>1</FruitCountPlayerMultiplier>
  <AntCountPlayerMultiplier>0</AntCountPlayerMultiplier>
  <AntTotalCount>100</AntTotalCount>
  <BugTotalCount>999999</BugTotalCount>
  <SugarTotalCount>999999</SugarTotalCount>
  <FruitTotalCount>999999</FruitTotalCount>
  <AntTotalCountPlayerMultiplier>0</AntTotalCountPlayerMultiplier>
  <BugTotalCountPlayerMultiplier>0</BugTotalCountPlayerMultiplier>
  <SugarTotalCountPlayerMultiplier>0</SugarTotalCountPlayerMultiplier>
  <FruitTotalCountPlayerMultiplier>0</FruitTotalCountPlayerMultiplier>
  <AntRespawnDelay>0</AntRespawnDelay>
  <BugRespawnDelay>75</BugRespawnDelay>
  <SugarRespawnDelay>150</SugarRespawnDelay>
  <FruitRespawnDelay>225</FruitRespawnDelay>
  <BugAttack>50</BugAttack>
  <BugRotationSpeed>3</BugRotationSpeed>
  <BugEnergy>1000</BugEnergy>
  <BugSpeed>3</BugSpeed>
  <BugRadius>4</BugRadius>
  <BugRegenerationValue>1</BugRegenerationValue>
  <BugRegenerationDelay>5</BugRegenerationDelay>
  <SugarAmountMinimum>1000</SugarAmountMinimum>
  <SugarAmountMaximum>1000</SugarAmountMaximum>
  <FruitAmountMinimum>250</FruitAmountMinimum>
  <FruitAmountMaximum>250</FruitAmountMaximum>
  <FruitLoadMultiplier>5</FruitLoadMultiplier>
  <FruitRadiusMultiplier>1</FruitRadiusMultiplier>
  <MarkerSizeMinimum>20</MarkerSizeMinimum>
  <MarkerDistance>13</MarkerDistance>
  <MarkerMaximumAge>150</MarkerMaximumAge>
  <PointsForFoodMultiplier>1</PointsForFoodMultiplier>
  <PointsForFruits>1</PointsForFruits>
  <PointsForBug>150</PointsForBug>
  <PointsForForeignAnt>5</PointsForForeignAnt>
  <PointsForEatenAnts>0</PointsForEatenAnts>
  <PointsForBeatenAnts>-5</PointsForBeatenAnts>
  <PointsForStarvedAnts>0</PointsForStarvedAnts>
  <CasteSettings>
    <Offset>-1</Offset>
    <Sum>0</Sum>
    <Columns>
      <SimulationCasteSettingsColumn>
        <Attack>0</Attack>
        <RotationSpeed>6</RotationSpeed>
        <Energy>50</Energy>
        <Speed>3</Speed>
        <Load>4</Load>
        <Range>1800</Range>
        <ViewRange>45</ViewRange>
      </SimulationCasteSettingsColumn>
      <SimulationCasteSettingsColumn>
        <Attack>10</Attack>
        <RotationSpeed>8</RotationSpeed>
        <Energy>100</Energy>
        <Speed>4</Speed>
        <Load>5</Load>
        <Range>2250</Range>
        <ViewRange>60</ViewRange>
      </SimulationCasteSettingsColumn>
      <SimulationCasteSettingsColumn>
        <Attack>20</Attack>
        <RotationSpeed>12</RotationSpeed>
        <Energy>175</Energy>
        <Speed>5</Speed>
        <Load>7</Load>
        <Range>3400</Range>
        <ViewRange>75</ViewRange>
      </SimulationCasteSettingsColumn>
      <SimulationCasteSettingsColumn>
        <Attack>30</Attack>
        <RotationSpeed>16</RotationSpeed>
        <Energy>250</Energy>
        <Speed>6</Speed>
        <Load>10</Load>
        <Range>4500</Range>
        <ViewRange>90</ViewRange>
      </SimulationCasteSettingsColumn>
    </Columns>
  </CasteSettings>
</SimulationSettings>