<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AntMe.SharedComponents.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <AntMe.SharedComponents.Properties.Settings>
      <setting name="ColonyColor1" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ColonyColor2" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ColonyColor3" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="ColonyColor4" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="ColonyColor5" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="ColonyColor6" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="ColonyColor7" serializeAs="String">
        <value>Fuchsia</value>
      </setting>
      <setting name="ColonyColor8" serializeAs="String">
        <value>Lime</value>
      </setting>
    </AntMe.SharedComponents.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
