<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <?define Manufactor = "AntMe! GmbH"?>
  <?define UpgradeGuid = "F1EBB9AF-29FD-41BF-A1A8-6C91B0B8847A"?>

  <Product
    Id="*"
    Name="AntMe! 1.7"
    Language="1033"
    Version="1.7.3"
    Manufacturer="$(var.Manufactor)"
    UpgradeCode="$(var.UpgradeGuid)">

    <Package
      Id="*"
      Manufacturer="$(var.Manufactor)"
      Description="AntMe! 1.7 - Use Ants to learn Programming Skills"
      Comments="AntMe! is a registrered trademark of Tom Wendel"
      InstallerVersion="300"
      Compressed="yes"
      InstallScope="perMachine" />

    <!--<Property Id="ARPHELPLINK" Value="http://www.antme.net/" />-->
    <!--<Property Id="ARPCOMMENTS" Value="Here comes some helpful text" />-->
    <!--<Property Id="ARPCONTACT" Value="Here comes the contact information" />-->
    <!--<Property Id="ARPURLUPDATEINFO" Value="http://www.antme.net/download" />-->
    <Property Id="ARPURLINFOABOUT" Value="http://www.antme.net" />
    <Icon Id="antme.ico" SourceFile="antme.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="ARPPRODUCTICON" Value="antme.ico" />
    <WixVariable Id="WixUILicenseRtf" Value="assets\AntMe.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="assets\UiBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="assets\UiDialog.bmp" />

    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <Media Id="1" Cabinet="AntMe.cab" EmbedCab="yes" DiskPrompt="File #1" />
    <Property Id="DiskPrompt" Value="[1]" />

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED"/>
    <Condition Message="AntMe! 1.7 requires .NET Framework 4.6.2. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED]]>
    </Condition>

    <Feature Id="MainComponents" Title="AntMe! 1.7" Level="1">
      <ComponentRef Id="SharedComponents" />
      <ComponentRef Id="AntMeSimulation" />
      <ComponentRef Id="AntMePlayerManagement" />
      <ComponentRef Id="SimulationPlugin" />
      <ComponentRef Id="DemoAmeisen" />
      <ComponentRef Id="GdiPlusPlugin" />
      <ComponentRef Id="FnaPlugin" />
      <ComponentRef Id="FnaPlugin86" />
      <ComponentRef Id="FnaPlugin64" />
      <ComponentRef Id="AntMe" />
      <ComponentRef Id="Uninstall" />
      <ComponentRef Id="FnaContent" />
      <ComponentRef Id="GermanDocumentation" />
      <ComponentRef Id="GermanDocumentationImages" />
      <ComponentRef Id="EnglishDocumentation" />
      <ComponentRef Id="EnglishDocumentationImages" />
      <ComponentRef Id="Loca" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">

      <!-- Install Path -->
      <Directory Id="ProgramFilesFolder" Name="Program Files">
        <Directory Id="INSTALLDIR" Name="AntMe 1.7">
          <Directory Id="ContentFolder" Name="Content" />
          <Directory Id="x86Folder" Name="x86" />
          <Directory Id="x64Folder" Name="x64" />
          <Directory Id="LocalizeFolder" Name="de" />
          <Directory Id="GermanDocumentationPath" Name="deutsch">
            <Directory Id="GermanDocumentationImagePath" Name="images" />
          </Directory>
          <Directory Id="EnglishDocumentationPath" Name="english">
            <Directory Id="EnglishDocumentationImagePath" Name="images" />
          </Directory>
        </Directory>
      </Directory>

      <!-- Startmenu -->
      <Directory Id="ProgramMenuFolder" Name="Program Menu">
        <Directory Id="ProgramMenuDir" Name="AntMe 1.7" />
      </Directory>

      <!-- Desktop Icon -->
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <DirectoryRef Id="INSTALLDIR">

      <!-- Shared Components -->
      <Component Id="SharedComponents" Guid="{5BB01468-0E09-4006-8DA8-A8CC01BD2051}">
        <File Source="$(var.SharedComponents.TargetPath)" KeyPath="yes" Checksum="yes" />
        <File Source="$(var.SharedComponents.TargetDir)/Mono.Cecil.dll" />
      </Component>

      <!-- AntMe.Simulation -->
      <Component Id="AntMeSimulation" Guid="{D2F2E32D-7A23-4C31-BC5A-9CC1562F701F}">
        <File Source="$(var.SimulationCore.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>

      <!-- Simulation Plugin -->
      <Component Id="SimulationPlugin" Guid="{CE0666BC-024C-4E68-A74B-B97C9E356401}">
        <File Source="$(var.SimulationPlugin.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>

      <!-- Demo Ameisen -->
      <Component Id="DemoAmeisen" Guid="{572A74EF-ED55-48A8-8076-8CB113E1BC64}">
        <File Source="$(var.DemoAmeisen.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>

      <!-- 2D Visualizer -->
      <Component Id="GdiPlusPlugin" Guid="{99FD2E1B-387E-4C91-BBCD-BFC3879C9FB5}">
        <File Source="$(var.GdiPlusPlugin.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>

      <!-- FNA Visualizer -->
      <Component Id="FnaPlugin" Guid="{989586A0-925D-4512-B22B-7205288CF929}">
        <File Source="$(var.FnaPlugin.TargetPath)" KeyPath="yes" Checksum="yes" />
        <File Source="$(var.FnaPlugin.TargetDir)/FNA.dll" />
      </Component>

      <!-- AntMe.PlayerManagement -->
      <Component Id="AntMePlayerManagement" Guid="{E20CC850-09DF-403F-80C7-DE1E6BE16997}">
        <File Source="$(var.PlayerManagement.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>

      <!-- AntMe.exe -->
      <Component Id="AntMe" Guid="DECBC6BD-E889-4079-9465-BC0B70439C4A">
        <File Source="$(var.AntMe.TargetPath)" Checksum="yes">
          <Shortcut Id="StartmenuShortcut" Directory="ProgramMenuDir" Name="AntMe! 1.7" Icon="antme.ico" IconIndex="0" WorkingDirectory="INSTALLDIR" Advertise="no" />
          <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="AntMe! 1.7" Icon="antme.ico" IconIndex="0" WorkingDirectory="INSTALLDIR" Advertise="no" />
        </File>
        <File Source="$(var.AntMe.TargetDir)/AntMe.exe.config" />
        <RegistryValue Root='HKCU' Key='Software\AntMe\AntMe1exe' Type='string' Value='' KeyPath='yes' />
      </Component>

    </DirectoryRef>

    <!-- Uninstall -->
    <Component Id="Uninstall" Guid="{3EF8BFC4-28AB-4396-AC30-C1C94AE766A4}" Directory="ProgramMenuDir">
      <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
      <RegistryValue Root='HKCU' Key='Software\AntMe\AntMe1shortcut' Type='string' Value='' KeyPath='yes' />
    </Component>

    <!-- Localization Files -->
    <Component Id="Loca" Guid="A4064295-8588-416F-A93C-4B64591667D0" Directory="LocalizeFolder">
      <File Source="$(var.AntMe.TargetDir)/de/AntMe.resources.dll" KeyPath="yes" />
      <File Source="$(var.SharedComponents.TargetDir)/de/AntMe.SharedComponents.resources.dll" />
      <File Source="$(var.SimulationCore.TargetDir)/de/AntMe.Simulation.resources.dll" />
      <File Source="$(var.PlayerManagement.TargetDir)/de/AntMe.PlayerManagement.resources.dll" />
      <File Source="$(var.SimulationPlugin.TargetDir)/de/AntMe.Plugin.Simulation.resources.dll" />
      <File Source="$(var.GdiPlusPlugin.TargetDir)/de/AntMe.Plugin.GdiPlusPlugin.resources.dll" />
      <File Source="$(var.FnaPlugin.TargetDir)/de/AntMe.Plugin.Fna.resources.dll" />
    </Component>

    <!-- FNA Dependencies (x86) -->
    <Component Id="FnaPlugin86" Guid="{89C7895E-BFC7-46F2-BCBD-D3832F1119F5}" Directory="x86Folder">
      <File Id="SDL2_32" Source="$(var.FnaPlugin.TargetDir)/x86/SDL2.dll" />
      <File Id="FNA3D_32" Source="$(var.FnaPlugin.TargetDir)/x86/FNA3D.dll" />
    </Component>

    <!-- FNA Dependencies (x64) -->
    <Component Id="FnaPlugin64" Guid="{F1C3BF22-2451-4529-8843-919A1E83B02A}" Directory="x64Folder">
      <File Id="SDL2_64" Source="$(var.FnaPlugin.TargetDir)/x64/SDL2.dll" />
      <File Id="FNA3D_64" Source="$(var.FnaPlugin.TargetDir)/x64/FNA3D.dll" />
    </Component>

    <!-- FNA Content Files -->
    <Component Id="FnaContent" Guid="{8FB366A1-E1D8-4822-8E9B-0C11D3293305}" Directory="ContentFolder">
      <File Source="$(var.FnaPlugin.TargetDir)/Content/ant.xnb" />
      <File Source="$(var.FnaPlugin.TargetDir)/Content/anthill.xnb" />
      <File Source="$(var.FnaPlugin.TargetDir)/Content/apple.xnb" />
      <File Source="$(var.FnaPlugin.TargetDir)/Content/borderTex.xnb" />
      <File Source="$(var.FnaPlugin.TargetDir)/Content/box.xnb" />
      <File Source="$(var.FnaPlugin.TargetDir)/Content/bug.xnb" />
      <File Source="$(var.FnaPlugin.TargetDir)/Content/dirt.xnb" />
      <File Source="$(var.FnaPlugin.TargetDir)/Content/HudFont.xnb" />
      <File Source="$(var.FnaPlugin.TargetDir)/Content/pix.xnb" />
      <File Source="$(var.FnaPlugin.TargetDir)/Content/sky.xnb" />
      <File Source="$(var.FnaPlugin.TargetDir)/Content/SkyEffect.xnb" />
      <File Source="$(var.FnaPlugin.TargetDir)/Content/sphere.xnb" />
      <File Source="$(var.FnaPlugin.TargetDir)/Content/sugar.xnb" />
      <File Source="$(var.FnaPlugin.TargetDir)/Content/textbox.xnb" />
    </Component>

    <!-- Deutsche Doku -->
    <Component Id="GermanDocumentation" Guid="223CC377-14F5-4500-A37C-01BFB71B5AB6" Directory="GermanDocumentationPath">
      <File Source="$(var.AntMe.TargetDir)/deutsch/Willkommen.htm" />
      <RegistryValue Root='HKCU' Key='Software\AntMe\AntMe1doku' Type='string' Value='' KeyPath='yes' />
    </Component>

    <!-- Bilder für die deutsche Startseite -->
    <Component Id="GermanDocumentationImages" Guid="F8C6BBD8-FA04-4238-9C54-1FE8217A2E56" Directory="GermanDocumentationImagePath">
      <File Source="$(var.AntMe.TargetDir)/deutsch/images/antme_im_web.png" />
      <File Source="$(var.AntMe.TargetDir)/deutsch/images/header.png" />
      <File Source="$(var.AntMe.TargetDir)/deutsch/images/hiphop.png" />
      <File Source="$(var.AntMe.TargetDir)/deutsch/images/mehr_ueber_antme.png" />
      <File Source="$(var.AntMe.TargetDir)/deutsch/images/samurai.png" KeyPath="yes" />
      <File Source="$(var.AntMe.TargetDir)/deutsch/images/schnellstart.png" />
    </Component>

    <!-- Engische Doku -->
    <Component Id="EnglishDocumentation" Guid="7163589B-B444-48D2-8D7C-3C877BE4F6AE" Directory="EnglishDocumentationPath">
      <File Source="$(var.AntMe.TargetDir)/english/Welcome.htm" KeyPath="yes" />
    </Component>

    <!-- Bilder für die englische Startseite -->
    <Component Id="EnglishDocumentationImages" Guid="5ECBE000-D8D9-4D07-8592-D88BBA4A68CF" Directory="EnglishDocumentationImagePath">
      <File Source="$(var.AntMe.TargetDir)/english/images/antme_im_web_en.png" />
      <File Source="$(var.AntMe.TargetDir)/english/images/header_en.png" />
      <File Id="hiphop_en" Source="$(var.AntMe.TargetDir)/english/images/hiphop.png" />
      <File Source="$(var.AntMe.TargetDir)/english/images/mehr_ueber_antme_en.png" />
      <File Id="Samurai_en" Source="$(var.AntMe.TargetDir)/english/images/samurai.png" KeyPath="yes" />
      <File Source="$(var.AntMe.TargetDir)/english/images/schnellstart_en.png" />
    </Component>

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>